extends ../base_employee.pug

block content

  div


    div.filters
      h2 Sucursal
      select
        option(value="1") Todas
        option(value="2") Oaxaca
      h2 Ventas
      select
            option(value="1") Todas
            option(value="2") Oaxaca
      h2 Ordenar
      select
            option(value="1") Todas
            option(value="2") Oaxaca
    div
      table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.product-table
        thead
          tr
            th.table-options Foto
            th.table-options Nombre del producto
            th Disponibilidad
            th Precio


        tbody
          tr
            td
              img(src="./images/rop.jpg")
            td Camisa
            td 3
            td $50.5
            td
              button.mdl-button.mdl-js-button#show-dialog Ver más










      dialog.mdl-dialog.dialog-grid-employee
          h3 Nombre
          div.mdl-grid
            div.mdl-cell.mdl-cell--3-col
              h4 Precio
              p Precio
              p Precio
            div.mdl-cell.mdl-cell--3-col
              h4 Tamaño
              p Tamaño
              p Tamaño
            div.mdl-cell.mdl-cell--3-col
              h4 Color
              p Color
              p Color
            div.mdl-cell.mdl-cell--3-col
              h4 Acción
              button.mdl-button.mdl-js-button Acción
              button.mdl-button.mdl-js-button Acción







          div.mdl-dialog__actions

            button.mdl-button.close Cerrar
