extends ../base_employee.pug

block content
  div.mdl-card.mdl-shadow--2dp.card-employee
    div.header-title-sales.zigzag-pink
      h2 Sucursal
      select(ng-model="branch" ng-init="branch=branches[0]" ng-options="b.name for b in branches track by b.idbranch", required)
        // Number badge on icon

      div.div-car
        .material-icons.mdl-badge.mdl-badge--overlap(data-badge='{{cart_elements}}' style="color: white;") add_shopping_cart
        button.mdl-button.mdl-js-button.ticket-button(ng-click="showTicketDialog()") Crear ticket
    table.mdl-data-table.mdl-js-data-table.table-dash
      thead
        tr
          th Producto
          th Precio
          th Cantidad
          th.disappear Color
          th.disappear Tamano
          th Carrito
      tbody
        tr(ng-repeat="t in products track by $index")
          td.mdl-data-table__cell--non-numeric # {{t.name}}
          td.mdl-data-table__cell--non-numeric $ {{t.price}}
          td  {{t.quantity}}
          td.disappear
            div.color-container(style="background:{{t.color}}; border:1px solid #ccc")
          td.disappear {{t.size}}
          td
            button.mdl-button.mdl-js-button(ng-click="addElementCart($index)") Agregar
            input.mdl-textfield__input(type='number' placeholder="Cantidad" ng-model="shop[$index].quantity", name="quantity")
