extends ../base_dashboard.pug

block content
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
    div.mdl-layout__drawer
      div.atena
        div.mdl-grid
          div.mdl-cell.mdl-cell--6-col
          div.mdl-cell.mdl-cell--6-col
            h3.user User

      nav.navigation.mdl-navigation.options
        a.mdl-navigation__link.menu-click.selected( data-content="product") Productos
        a.mdl-navigation__link.menu-click( data-content="sucursal") Empleados
        a.mdl-navigation__link.menu-click( data-content="employee") Sucursales
        a.mdl-navigation__link.menu-click Cerrar sesión

  div.mdl-layout__content.cd-tabs-content.tabs-cont
    div.filters
      h2 Sucursal
      select
        option(value="1") Todas
        option(value="2") Oaxaca
      h2 Ventas
      select
            option(value="1") Todas
            option(value="2") Oaxaca
      h2 Ordenar
      select
            option(value="1") Todas
            option(value="2") Oaxaca
    div.tab.selected.product(data-content="product")
      div.mdl-grid
          div.mdl-cell.mdl-cell--4-col
            img(src="./images/rop.jpg")
          div.mdl-cell.mdl-cell--4-col
            p.nameProduct Nombre del Productos
            p.availableProduct Disponibilidad
          div.mdl-cell.mdl-cell--4-col
            p.priceProduct Precio
            a#show-dialog Ver más
    div.tab.sucursal-owner( data-content="sucursal")
      div.mdl-grid
        div.mdl-cell.mdl-cell--3-col
          img(src="./images/rop.jpg")

        div.mdl-cell.mdl-cell--3-col
          p Sucursal
        div.mdl-cell.mdl-cell--3-col
          p.addrees Dirección
        div.mdl-cell.mdl-cell--3-col
          button Ver
    div.tab.employee-owner( data-content="employee")
      div.mdl-grid
        div.mdl-cell.mdl-cell--3-col
          img(src="./images/rop.jpg")
        div.mdl-cell.mdl-cell--3-col
          p Empleado1
        div.mdl-cell.mdl-cell--3-col
          p Password
        div.mdl-cell.mdl-cell--3-col
          button Ver



    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.fab
        i.material-icons add
    dialog.mdl-dialog.dialog-grid
        h3 Nombre
        div.mdl-grid
          div.mdl-cell.mdl-cell--6-col
            p Descripción
            p Precio
            p Categoría
            p Marca
            p Tamaños
            p _ _
            p Sucursales
            p _ _
            p Colores
            p _ _
          div.mdl-cell.mdl-cell--6-cols.product-main-image
            img(src="./images/rop.jpg")
            div.mdl-grid.product-images
              div.mdl-cell.mdl-cell--4-col
                img(src="./images/rop.jpg")

              div.mdl-cell.mdl-cell--4-col
                img(src="./images/rop.jpg")
              div.mdl-cell.mdl-cell--4-col
                img(src="./images/rop.jpg")




        div.mdl-dialog__actions

          button.mdl-button.close Cerrar
