div.mdl-layout__content(style="width:100%;" ng-controller="ProductAdminController")
  div
    .header-title-sales.zigzag-pink
      h2 Sucursal
      select(ng-model="branch" ng-init="branch=branches[0]" ng-options="b.name for b in branches track by b.idbranch" ng-change="changeData()")

  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.table-dash.dash-content-top
      thead
        tr
          th Id
          th Nombre
          th Precio
          th Marca
          th Cantidad
          th Acciones
      tbody
        tr(ng-repeat="e in products")
          td {{e.idproduct}}
          td {{e.name}}
          td {{e.price}}
          td {{e.model}}
          td {{e.quantity}}
          td
            button.mdl-button.mdl-js-button(ng-click="showProductDetail(e.idproduct)") Ver Mas
            button.mdl-button.mdl-js-button(ng-click="deleteProduct(e.idproduct)") Eliminar

  button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.fab.goToGeneral(ng-click="showProductForm()")
    i.material-icons add
