div(ng-controller="ReturnAdminController")
  .header-title-sales.zigzag-pink(style="height: 160px;")
    h2 Devoluciones


  div
    table.mdl-data-table.mdl-js-data-table.table-dash
      thead
        tr
          th Fecha
          th.disappear Color
          th.disappear Nombre
          th Producto
          th Tamano

      tbody
        tr(ng-repeat="t in sales")
          td  {{t.return_date}}
          td.disappear
            div.color-container(style="background:{{t.color}}")

          td.disappear {{t.name}}
          td {{t.idproduct}}
          td {{t.size}}
