div.mdl-layout__content(style="width:100%;" ng-controller="EmployeeAdminController")
  div
    h2 Empleados
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.table-dash.dash-content-top
      thead
        tr
          th Foto
          th Nombre
          th Email
          th Acciones
      tbody
        tr(ng-repeat="e in employees")
          td
            img(src="./images/people.svg")
          td {{e.full_name}}
          td {{e.email}}
          td
            button.mdl-button.mdl-js-button(ng-click="showEmployeeDetail({{e.idemployee}})") Ver Mas
            button.mdl-button.mdl-js-button(ng-click="deleteEmployee()") Eliminar

  button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.fab(ng-click="showEmployeeForm()")
    i.material-icons add

  //- Dialog Employee Detail
  dialog#employeeDialog.mdl-dialog.dialog-grid
    h3 {{employee.full_name}}
    .mdl-dialog__content
      .mdl-textfield.mdl-js-textfield
          input.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?')
          label.mdl-textfield__label Id Empleado...
          span.mdl-textfield__error El Id no es un numero!

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='text')
        label.mdl-textfield__label Email...

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='password')
        label.mdl-textfield__label Password...

      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='text')
        label.mdl-textfield__label Rol...

    div.mdl-dialog__actions
      button.mdl-button.close(ng-click="closeDialog()") Cerrar
    div.mdl-dialog__actions
      button.mdl-button.close(ng-click="storeData()") Guardar
