extends ../base_dashboard.pug

block content
  #branch.container-dash.tab(data-content='branches')
    include dash_branches.pug
  #employee.container-dash.tab.selected(data-content='employees')
    include dash_employees.pug
  #product.container-dash.tab(data-content='products')
    include dash_products.pug
  #productsimple.container-dash.tab(data-content='productsimple')
    include product_layout.pug
  #sales.container-dash.tab(data-content='sales')
    include dash_sales.pug
  #return_product.container-dash.tab(data-content='return_product')
    include dash_admin_product_return.pug
