div.mdl-layout__content(style="width:100%;" ng-controller="ProductAdminController")
  div
    .header-title.zigzag-pink
      .filters
        .mdl-grid
          .mdl-cell.mdl-cell--6-col.product-header
            h3 Sucursal
            select(ng-model="branch" ng-init="branch=branches[0]" ng-options="b.name for b in branches track by b.idbranch")
          .mdl-cell.mdl-cell--6-col

            h3 Ordenar
            select.select-branch-product
              option(value="1") Todas
              option(value="2") Oaxaca

  div
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.table-dash.dash-content-top
      thead
        tr
          th Foto
          th Nombre
          th Precio
          th Cantidad
      tbody
        tr(ng-repeat="e in products")
          td
            img(src="./images/people.svg")
          td {{e.name}}
          td {{e.price}}
          td {{e.quantity}}
          td
            button.mdl-button.mdl-js-button(ng-click="showProductDetail(e.idproduct)") Ver Mas
            button.mdl-button.mdl-js-button(ng-click="deleteProduct(e.idproduct)") Eliminar

  button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.fab.goToGeneral(ng-click="showProductForm()")
    i.material-icons add
