div.mdl-layout__content(style="width:100%;" ng-controller="EmployeeAdminController")
  div
    .header-title-employee.zigzag-pink
      h2 Empleados
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.table-dash.dash-content-top
      thead
        tr
          th Foto
          th Nombre
          th Email
          th Acciones
      tbody
        tr(ng-repeat="e in employees")
          td
            img(src="./images/people.svg")
          td {{e.full_name}}
          td {{e.email}}
          td
            button.mdl-button.mdl-js-button(ng-click="showEmployeeDetail(e.idemployee)") Ver Mas
            button.mdl-button.mdl-js-button(ng-click="deleteEmployee(e.idemployee)") Eliminar

  button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.fab(ng-click="showEmployeeForm()")
    i.material-icons add

  //- Dialog Employee Detail
  dialog#employeeDialog.mdl-dialog.dialog-grid
    h3 {{employee.full_name}}
    form(name="employeeForm" novalidate)
      .mdl-dialog__content
        .mdl-grid
          .mdl-cell.mdl-cell--6-col
            .mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type='number', pattern='-?[0-9]*(\.[0-9]+)?', placeholder="Id Empleado..." name="idemployee", ng-model="employee.idemployee", required)

              .error-msg(ng-show='employeeForm.$submitted || employeeForm.idemployee.$touched')
                span(ng-show='employeeForm.idemployee.$error.required') Campo requerido
                span.mdl-textfield__error El Id no es un numero!
            .mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type='text' ng-model="employee.full_name", placeholder="Nombre..."  name="name")

              .error-msg(ng-show='employeeForm.$submitted || employeeForm.name.$touched')
                span(ng-show='employeeForm.name.$error.required') Campo requerido
            .mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type='text', ng-model="employee.role", placeholder="Rol..." , name="role", required)

              .error-msg(ng-show='employeeForm.$submitted || employeeForm.role.$touched')
                span(ng-show='employeeForm.role.$error.required') Campo requerido
            div.mdl-dialog__actions
              button.mdl-button.close(ng-click="storeData(employeeForm.$valid)") Guardar

          .mdl-cell.mdl-cell--6-col
            .mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type='text' ng-model="employee.email", name="email", placeholder="Email..." )

            .mdl-textfield.mdl-js-textfield
              input.mdl-textfield__input(type='password' ng-model="employee.password", name="password",  placeholder="Password..." , required)

              .error-msg(ng-show='employeeForm.$submitted || employeeForm.password.$touched')
                span(ng-show='employeeForm.password.$error.required') Campo requerido

            select(ng-model="branch" style='margin-top:30px;' ng-init="branch=branches[0]" ng-options="b.name for b in branches track by b.idbranch", required)
              .error-msg(ng-show='employeeForm.$submitted || employeeForm.branch.$touched')
                span(ng-show='employeeForm.branch.$error.required') Campo requerido
            div.mdl-dialog__actions
              button.mdl-button.close(ng-click="closeDialog()"    style =" margin-top: 19px;") Cerrar
