doctype html
html(lang="es-MX")
  head
    title= "Sistema Inventarios"
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content='Craft Code')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body.backLogin(ng-app="AteneaApp" ng-cloak)
    .mdl-snackbar.mdl-js-snackbar(aria-live='assertive', aria-atomic='true', aria-relevant='text')
      .mdl-snackbar__text
      button.mdl-snackbar__action(type='button')
    .mdl-layout.mdl-js-layout.has-drawer.is-upgraded
      main.mdl-layout__content
        .login(ng-controller="LoginController")
          .card-login.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              h2.mdl-card__title-text Bienvenido
            form(name="userForm" novalidate)
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type='number' name="id" ng-model="user.id")
                label.mdl-textfield__label(style="color:#ff4081;") Id empleado
                .error-msg(ng-show='userForm.$submitted || userForm.id.$touched')
                  span(ng-show='userForm.id.$error.required') Campo requerido
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                input.mdl-textfield__input(type='password' name="id" ng-model="user.password")
                label.mdl-textfield__label(style="color:#ff4081;") Password
                .error-msg(ng-show='userForm.$submitted || userForm.password.$touched')
                  span(ng-show='employeeForm.password.$error.required') Campo requerido
              .mdl-card__actions.mdl-card--border
                // Raised button with ripple
                button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(ng-click="loginEmployee(userForm)")
                  | Ingresar





  // SCRIPTS

  script(src="/js/dependencies/sails.io.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
  script(src="https://code.getmdl.io/1.3.0/material.min.js")
  script(src="/js/admin/LoginController.js")
  script(src="/js/services.js")
  // SCRIPTS END
