extends ../base_employee.pug

block content
  div.mdl-card.mdl-shadow--2dp.card-employee
    div.header-title-sales.zigzag-pink
      h2 Sucursal
      select(ng-model="branch" ng-init="branch=branches[0]" ng-options="b.name for b in branches track by b.idbranch", ng-change="changeReturns()")

    table.mdl-data-table.mdl-js-data-table.table-dash
      thead
        tr
          th Producto
          th Fecha
          th Cantidad
          th.disappear Sucursal
          th.disappear Color
          th.disappear Tamaño
          th Devoluciones

      tbody
        tr(ng-repeat = "t in tickets track by $index")
          td.mdl-data-table__cell--non-numeric {{t.idproduct}}
          td.mdl-data-table__cell--non-numeric {{t.date}}
          td.mdl-data-table__cell--non-numeric {{t.quantity}}
          td.disappear {{t.name}}
          td.disappear
            div.color-container(style="background:{{t.color}}; border:2px solid #ccc")
          td.disappear {{t.size}}
          td
            button.mdl-button.mdl-js-button(ng-click="returnProduct($index)") Devolución
            input.mdl-textfield__input(type='number' placeholder="Cantidad" ng-model="return[$index].quantity", name="quantity")
