div.mdl-layout__content.product-form
  .mdl-card.mdl-shadow--4dp
    // Simple header with fixed tabs.
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs.tabs-products
      header.mdl-layout__header.zigzag-pink
        // Tabs
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a.mdl-layout__tab.is-active(href='#general') General
          a.disappear.mdl-layout__tab(href='#details') Detalles
          a.mdl-layout__tab(href='#gallery') Galeria
      main.mdl-layout__content
        section#general.mdl-layout__tab-panel.is-active
          .page-content
            include productL/dash_general.pug
        section#details.mdl-layout__tab-panel
          .page-content
            include productL/dash_detail.pug
        section#gallery.mdl-layout__tab-panel
          .page-content
            include productL/dash_gallery.pug
