doctype html
html(lang="es")
  head
    title= "Sistema Inventarios"
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='author', content='Craft Code')

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body(ng-app="AteneaApp" ng-cloak)
    .mdl-snackbar.mdl-js-snackbar(aria-live='assertive', aria-atomic='true', aria-relevant='text')
      .mdl-snackbar__text
      button.mdl-snackbar__action(type='button')
    div.app-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.android-header.mdl-layout__header.mdl-layout__header--waterfall
        div.mdl-layout__header-row.nav-atenea

          div.mdl-layout-spacer
            nav.mdl-navigation.mdl-layout--large-screen-only
              a.mdl-navigation__link(href='/logout' style="    display: inline-table;") Cerrar sesión
              a.mdl-navigation__link(href='/dashboard' style="") Productos
              a.right-link.mdl-navigation__link(href='/product_return' style="") Devoluciones




      main.mdl-layout__content(ng-controller="SalesEmployeeController")
        block content
        dialog#ticketDialog.mdl-dialog.dialog-sales
          h3 Ticket
          ul.demo-list-three.mdl-list(ng-repeat="p in shop_cart track by $index")
            li.mdl-list__item.mdl-list__item--two-line
              span.mdl-list__item-primary-content
                i.material-icons.mdl-list__item-avatar(style="width: 58px; height: 58px; background:{{p.color}}")
                span {{p.idproduct}}
                span.span.mdl-list__item-sub-title
                  | Precio unitario $ {{p.price}}
                span.span.mdl-list__item-sub-title
                  | IVA $ {{p.total_price}}

              span.mdl-list__item-secondary-content
                button.mdl-button(ng-click="removeElementCart($index)") Eliminar
          span
            h3 Total
            p $ {{total_ticket}}
          div.mdl-dialog__actions
            button.mdl-button.close(ng-click="closeDialog()") Cerrar
            button.mdl-button.close.button-add-sale(ng-click="createTicket()") Agregar compra




  // SCRIPTS
  script(src="/js/dependencies/sails.io.js")
  script(src="/js/dialog.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
  script(src="/js/DashboardModuleApp.js")
  script(src="/js/services.js")
  script(src="/js/admin/SalesEmployeeController.js")


  script(src="https://code.getmdl.io/1.3.0/material.min.js")

  // SCRIPTS END
