doctype html
html(lang="es")
  head
    title= "Sistema Inventarios"
  body
    h1 Sistema de Inventarios
    block content



  // SCRIPTS
  script(src="/js/dependencies/sails.io.js")
  // SCRIPTS END
