doctype html
html(lang="es")
  head
    title= "Sistema Inventarios"

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body(ng-app="AteneaApp" ng-cloak)
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.drawer
        div.mdl-layout__header-row.nav-atenea
          span.mdl-layout-title   User
          div.mdl-layout-spacer
            nav.mdl-navigation.mdl-layout--large-screen-only







      main.mdl-layout__content
        block content




  // SCRIPTS
  script(src="/js/dependencies/sails.io.js")
  script(src="/js/dialog.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
  script(src="/js/admin/EmployeeAdminController.js")
  script(src="/js/admin/SalesEmployeeController.js")
  

  script(src="https://code.getmdl.io/1.3.0/material.min.js")

  // SCRIPTS END
