/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/


%header {
  width: 100%;
  z-index: 2;
  top: 0;
}

%center-items {
  text-align: center;
}
%complete-dimension {
  width: 100%;
  height: 100%;
}


%uppercase {
  text-transform: uppercase;
}

%margin-center {
  margin: 0 auto;
}

%form-inputs {
  width: 100%;
  border: none;
  height: 40px;
  background-color: $gray-material;
}

%btn-shadow {
  border-radius: 0;
  margin: 10px 2px;
}


%no-padding {
  padding: 0;
}

%no-margin {
  margin: 0;
}

%no-margin--side {
  margin-left: 0;
  margin-right: 0;
}

%messages {
  @include border-radius(5px);
  width: 100%;
  text-align: center;
  padding: 15px}

/* Buttons */
%overflow-cursor {
  overflow: hidden;
  cursor: pointer;
}

// Margin out
%margin-left_out {
  margin-left: -9999px;
}

// No style
%list-no-style {
    list-style-type: none;
}

// Center text
%text-center {
  text-align: center;
}

// Display block
%display-block {
  display: block;
}

// Display inline
%display-inline {
  display: inline;
}
