/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/

// Basic colors
$white: #FFF;
$black: #000;
$grey: #878787;
$grey-material: #EEEEEE;
$primary-color: #E91E63;
$grey-900: #212121;
$deep-pink: #AD1457;
$pink-500: #E91E63;
$pink-400: #EC407A;
$pink-300: #F06292;
// Asset paths
$path-img-css: "../../img";

// Media query break points

$brk-less-lg: "(min-width: 1200px)";
$brk-less-md: "(min-width: 992px)";
$brk-less-max-md: "(max-width: 992px)and(min-width:768px)";
$brk-less-sm: "(min-width: 768px)";
$brk-less-max-sm: "(max-width: 768px)and(min-width:500px)";


// Font stack
$font-url--google: 'http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One';
$font-family--primary: "Open Sans", sans-serif;
$font-family--secondary: 'Yeseva One', cursive;


// Font Weights
$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;

// Text Size
$base__font-size: 16px;
