extends ../base_website.pug

block content
  div.top-web-image
  .mdl-grid.info-home
      .mdl-cell.mdl-cell--4-col
        h1 Hola
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,

      .mdl-cell.mdl-cell--4-col
        h1 Hola
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      .mdl-cell.mdl-cell--4-col
        h1 Hola
        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,

  .middle-web
    h1 Suscríbete
    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Suscribir
