/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.backLogin {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(167, 47, 63, 0.65)   90%), linear-gradient(0deg, rgba(43, 43, 51, 0.95), transparent), url(../images/fashion.jpg) center 90%/cover no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;

  .mdl-card {
    height: 300px;

    .mdl-card__title {
      margin: 0 auto;

      h2 {
        text-align: center;
        font-size: em(30px);
        color: $deep-pink;
      }
    }
    text-align: center;
    margin: 14% auto 0;
    width: 500px;

    button {
      width: 300px;
      background: $deep-pink;
      color: white;
    }
  }
}

.header-title-sales {
  width: 100%;
  height: 195px;
  background: $deep-pink;
  position: relative;
  z-index: 99;
  text-align: center;

  select {
    margin-right: 45px;
    margin-top: 10px;
    height: 25px;
    width: 28%;
    border-radius: 1px;
  }

  h2 {
    margin: 0;
    text-align: center;
    color: $pink-500;
    padding-top: 26px;
  }

  h3 {
    margin: 0;
    text-align: center;
    color: $pink-500;
    padding-top: 26px;
  }

  .filters {
    margin-left: 80px;
    display: flex;

    select {
      width: 133px;
      border-radius: 1px;
    }
  }

  &.zigzag-pink:after {
    top: 75px;
  }
}

.header-title-employee {
  width: 100%;
  height: 153px;
  background: $deep-pink;
  position: relative;
  z-index: 99;
  text-align: center;

  select {
    height: 25px;
    width: 28%;
    border-radius: 1px;
  }

  h2 {
    margin: 0;
    text-align: center;
    color: $pink-500;
    padding-top: 26px;
  }

  h3 {
    margin: 0;
    text-align: center;
    color: $pink-500;
    padding-top: 26px;
  }

  .filters {
    margin-left: 80px;
    display: flex;

    select {
      width: 133px;
      border-radius: 1px;
    }
  }

  &.zigzag-pink:after {
    top: 75px;
  }
}

.header-title {
  width: 100%;
  height: 198px;
  background: $deep-pink;
  position: relative;
  z-index: 99;
  text-align: center;

  select {
    height: 25px;
    width: 28%;
    border-radius: 1px;
  }

  h2 {
    margin: 0;
    text-align: center;
    color: $pink-500;
    padding-top: 26px;
  }

  h3 {
    margin: 0;
    text-align: center;
    color: $pink-500;
    padding-top: 26px;
  }

  .filters {
    margin-left: 80px;
    display: flex;

    select {
      width: 133px;
      border-radius: 1px;
    }
  }

  &.zigzag-pink:after {
    top: 75px;
  }
}

.product-header {
  padding-right: 194px;
}

.select-branch-product {
  margin-left: 63px;
}
// Images Gallery

.profile-photo {
  background: $black;
  height: 350px;
  margin: 0 auto;
  position: relative;

  .default-photo {
    background: $grey;
    @include transition(opacity ease-in-out .2s);
    height: 100%;

    .photo-icon {
      width: 80px;
      height: 80px !important;
      margin: 0 auto;
      @include vertical-align();
      display: flex;
    }
  }

  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.profile-preview {
  height: 350px;
  width: 100%;
  display: none;

  .inner-filter {
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%);
    width: 100%;
    height: 100%;

    .mdl-button {
      align-items: center;
      display: flex;
    }
  }
}
