/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/

// Index //
.carousel-images {
  background: url("../images/slide_1.jpg")no-repeat center;
  background-size: cover;
  width: 100%;
  height: 350px;
}
.carousel-images-dos {
  background: url("../images/welcome.jpg")no-repeat center 16%;
  background-size: cover;
  width: 100%;
  height: 350px;
}
.carousel-images-tres {
  background: url("../images/banners-01.jpg")no-repeat center;
  background-size: cover;
  width: 100%;
  height: 350px;
}

////////////////PLAYER PROFILE ////////////////
.profile-picture {
  background: gray;
  width: 100%;
  height: 300px;
  background-size: cover;
  margin-bottom: 10%;
}
.profile-photos-slide {
  width: 100%;
  height: 150px;
  margin: 15px 0;
  cursor: pointer;
}
.profile-photos-slide-exclusive {
  background: url("../images/slide_1.jpg")no-repeat center;
  width: 100%;
  height: 70px;
  background-size: cover;
}

.color-profile {
  background-color: $gray-material;
}
