/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/

/* General */

// Membership
.button-member--cancel {
  color: white;
  background-color: red;
  width: 180px;
  margin-bottom: 5%;
  border: none;
  padding: 7px;
}
.button-member--confirm {
  color: $black;
  background-color: $green;
  width: 180px;
  border: none;
  padding: 7px;
}

/// Coach Dashboard //
.anchor-coach {
  margin-left: 44px;
  color: $new-green;
  font-weight: bold;
  &:hover, &:link, &:visited, &:active {
    color: $new-green;
  }
}


//// CHAT BUTTON ///////////
.chat {
  background: url(../images/chat.png) no-repeat 6px center;
  width: 90px;
  height: 90px;
  display: block;
  right: 45px;
  position: fixed;
  bottom: 45px;
}

//Dashboard player

.save-button {
  text-align: right;
  button {
    margin-top: 100px;
    font-weight: bold;
    background-color: $green;
    border: none;
    padding: 9px;
  }
}


.view-green--btn {
  padding: 6px;
  background-color: $green;
  color: $black;
  margin-top: 0;
  font-weight: bold;
  width: 100px;
  font-size: 22px;
  border: none;
}
