/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
//////////// CHAT MDOAL ///////////////
.modalChat {
  display: none;
  z-index: 99;
  width: 250px;
  height: 70%;
  background-color: $white;
  top: 5%;
  position: fixed;
  right: 0;
  box-shadow: 0 6px 19px gray;
  .header {
    padding: 16px;
    background-color: $gray-material;
    display: flex;
    h2 {
      margin: 0;
      padding-left: 10px;
      width: 100%;
      text-align: center;
      font-size: em(20px);
    }
    span {
      font-size: em(32px);
    }
  }
  .inbox-container {
    height: 100%;
  }
  ul {
    width: 100%;
    height: 72%;
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    &.message-list {
      li {
        border-bottom: 1px solid $gray-material;
        cursor: pointer;
        height: 85px;
        &:hover {
          background-color: $gray;
        }
        .row {
          height: 100%;
          .col-xs-4 {
            height: 100%;
          }
          .col-xs-6 {
            height: 100%;
            display: flex;
          }
        }
        img {
          width: 100%;
          height: 100%
        }
        p {
          font-size: em(22px);
          align-self: center;
        }
      }
    }
    .message {
      width: 90%;
      height: auto;
      border: 2px solid $gray-material;
      margin: 5px 0;
      float: left;
      @include border-radius(10px);
      p {
        padding: 10px;
      }
      &.own-message {
        float: right;
        background-color: $new-green;
      }
    }
  }
  .message-input {
    width: 100%;
    height: 50px;
    background-color: $white;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    position: absolute;
    bottom: 0;
    textarea {
      width: 78%;
      height: 50px;
      align-self: center;
      @include border-radius(5px);
    }
    a {
      align-self: center;
      img {
        width: 80%;
        margin-left: 15px;
      }
    }
  }
}
// Feedback
.feedback {
  padding: 0 100px;
  color: #fff;
  overflow: hidden;
  position: fixed;
  width: 100px;
  height: 100px;
  left: 50%;
  margin-left: -100px;
  background-color: $new-green;
  top: 0;
  z-index: 2;
  display: none;
  font-family: 'Roboto', sans-serif;
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 16;
  }
}
.msg {
  background-color: $new-green;
  display: block;
  -webkit-animation: stretch 0.3s ease-in-out forwards, feedback-out 0.3s ease-in-out 5s forwards;
  -moz-animation: stretch 0.3s ease-in-out forwards, feedback-out 0.3s ease-in-out 5s forwards;
  animation: stretch 0.3s ease-in-out forwards, feedback-out 0.3s ease-in-out 5s forwards;
}
// Modal Video URL //
.modalDialog {
  @include position(fixed, true, 0);
  @include transition(opacity 400ms ease-in);
  background: rgba($black, 0.8);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
}
.modalDialogBasic {
  @include position(fixed, true, 0);
  @include transition(opacity 400ms ease-in);
  background: $green;
  z-index: 5;
  display: block;
  pointer-events: none;
  overflow: auto;
}
.dialogVideo {
  padding: 5%;
  position: relative;
  z-index: 99;
  height: auto;
  margin: 12% auto;
  width: 50%;
  background: $white;
}
// Modal Gallery
.dialogGallery {
  width: 800px;
  height: 80%;
  position: relative;
  z-index: 99;
  margin: 5% auto;
}
// Modal sport
.dialogSport {
  padding: 5%;
  position: relative;
  z-index: 99;
  margin: 12% auto;
  width: 35%;
  background: $white;
}
// Modal Preview samples
.dialogSample {

  position: relative;
  z-index: 99;
  margin: 12% auto;
  width: 60%;
}
.dialogSampleBasic {
  text-align: center;
  position: relative;
  z-index: 99;
  margin: 12% auto;
  width: 60%;
  img {
    width: 90%;
  }
}
// Moda Sessions
.dialogSessions {
  background: $white;
  width: 90%;
  margin: 10% auto;
  padding: 10px;
  box-shadow: 12px 9px 25px #0A0A0A;
  @include border-radius(5px);
  h1 {
    font-weight: bold;
    font-size: em(22px);
  }
  h4 {
    font-style: italic;
  }
  form {
    text-align: center;
  }
  textarea {
    margin: 0;
    width: 90%;
    height: 80px;
  }
}
.dialogLoading {
  margin-top: 15%;
  text-align: center;
  color: $white;
  img {
    width: 5%;
  }
}
