/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.options {
  height: 100%;
  background: #fce4ec;
  text-align: center;

  a {
    display: list-item;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    margin-top: 0;
  }
}

.user {
  padding-top: 59px;
  color: white;
  font-size: 25px;
}

.dialog-grid {
  h3 {
    padding-left: 27px;
    font-weight: bold;
  }

  p {
    padding-left: 27px;
    color: #EEEEEE;
    font-size: 14px;
    font-weight: bold;
  }

  img {
    width: 211px;
  }
}

.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
  width: 700px;
}
// Table Dashboard

.dash-content-top {
  margin-top: 10px;
}
// Table

.table-dash {
  width: 100%;
  margin-bottom: 100px;
  table-layout: fixed;

  &.mdl-data-table {
    th {
      font-size: 20px;
      white-space: pre-wrap;
      text-align: center;
    }

    td {
      text-align: center;
      white-space: pre-wrap;

      select {
        width: 100%;
      }
    }
  }

  img {
    width: 100px;
  }
}

.fab {
  position: absolute;
  text-align: center;
  right: 2%;
  top: 140px;
  z-index: 999;
}

.mdl-textfield__label:after {
  background-color: #ff4081;
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  width: 10px;
}

.mdl-textfield__label {
  color: #ff4081;
}

.dialog-grid-employee {
  top: 200px;
}
// Product Card container

.product-section {
  width: 110%;
  margin-right: -8px;
  margin-left: -8px;

  &.gray {
    background: $grey-material;
  }
}

.top-sales {
  text-align: center;

  select {
    height: 25px;
    width: 28%;
    border-radius: 1px;
  }
}

.sales-table {
  table {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 48%;
  }
}

.dialog-sales {
  margin-left: 30%;
}

.card-employee {
  margin-top: 5%;
  text-align: center;
  margin-left: 15%;
  height: 400px;
  width: 65%;

  select {
    height: 25px;
    width: 28%;
    border-radius: 1px;
    margin-bottom: 5%;
  }

  table {
    width: 44%;
    text-align: center;
  }
}

.top-sales {
  margin-bottom: 44px;

  button {
    margin-top: -67px;
    /* margin-bottom: 2px; */
    padding-bottom: -9px;
    padding-top: -7px;
    display: block;
    margin-left: 76%;
    /* margin-top: -27px; */
  }
}
// Dashboard container

.container-dash {
  margin: 0 auto;
  max-width: 1200px;
  display: inherit;
  width: 100%;
}
