/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.right {
  right: 0;
  left: auto;
}
.left {
  right: auto;
  left: 0;
}
.logo {
  width: 80%;
}
.navbar-default {
  background-color: #333;
  border-color: #e7e7e7;
  height: auto;
  margin: 0;
  border: 0 solid transparent;
  border-radius: 1px;
}
.navbar-text {
  font-size: 22px;
  color: $white;
}
/* Index */
.margin-top {
  text-align: center;
  margin: 0;
  position: absolute;
  right: 10%;
  h1 {
    color: $white;
    font-size: 65px;
  }
  h2 {
    color: $green;
    font-size: 45px;
  }
  h3 {
    color: $white;
    font-size: 30px;
  }
  p {
    color: $white;
    font-size: 20px;
  }
}
.midtern-header {
  background-color: $green;
  height: 200px;
  h1 {
    text-align: center;
    padding-top: 2%;
    margin: 0;
    font-size: em(50px);
    font-style: italic;
    font-weight: bold;
  }
  p {
    text-align: center;
    font-size: em(20px);
  }
}
.middle-body {
  margin: 20px;
  text-align: center;
  img {
    width: 80%;
    @extend %margin-center;
  }
  h1 {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
  }
  h2 {
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
  }
  p {
    color: $black;
    font-size: em(10px);
    font-style: italic;
    font-weight: bold;
  }
}
.nike-img {
  padding-top: 2%;
  img {
    width: 80%;
    @extend %margin-center;
  }
}
.middle-middle {
  background-color: $gray-material;
  margin: 20px;
  height: auto;
  img {
    width: 100%;
    margin-top: 5%;
    box-shadow: 12px 9px 25px $gray;
    @extend %margin-center;
  }
  h2 {
    font-size: 40px;
    color: $black;
    font-style: italic;
    font-weight: bold;
  }
}
.row-middle {
  margin-top: 45px;
  text-align: center;
}
.middle-counter {
  margin: 20px;
  height: auto;
  text-align: center;
  img {
    width: 100%;
  }
  h2 {
    color: $black;
    font-size: 64px;
    font-weight: bold;
  }
}
.mision-vision {
  height: auto;
  text-align: center;
  background-color: $gray-material;
  h2 {
    color: $green;
    text-align: center;
    font-size: em(64px);
    font-weight: bold;
  }
  p {
    font-style: italic;
    font-weight: bold;
    font-size: em(16px);
  }
}
.dissapear {
  display: none;
}
//////////////////Sign up !! ////////////
.top-sign {
  text-align: center;
  img {
    width: 33%;
    @extend %margin-center;
  }
  h1 {
    text-align: center;
    font-size: 20px;
    color: $white;
    font-weight: bold;
  }
}
.advisement {
  height: 190px;
}
.function {
  h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $black;
    margin-top: 60px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
    color: $black;
  }
  p {
    text-align: center;
    color: $black;
    font-size: 15px;
  }
}
.more-info {
  width: 100%;
  background-color: $gray-material;
  height: 350px;
  align-items: center;
  display: flex;
  p {
    text-align: center;
    color: $black;
    font-size: 15px;
    margin: 0 auto;
    width: 80%;
  }
}
///////////LOGIN//////////////
.top-login {
  text-align: center;
  img {
    width: 33%;
    margin: 5% auto;
  }
  h1 {
    text-align: center;
    font-size: 20px;
    color: $black;
    font-weight: bold;
  }
}
////////////////////////////Profile player coach info //////////////
.top-title-player {
  text-align: center;
  color: $white;
  font-size: 35px;
  background-color: #4D4D4D;
  height: 100px;
  h1 {
    margin: 0;
  }
}
// Vertical Menu
.dl-menuwrapper-admin {
  @include transition(opacity .40s ease-in-out);
  @extend %complete-dimension;
  z-index: 2;
  text-align: left;
  ul {
    @extend %no-padding;
    background: $white;
    list-style: none;
    height: auto;
  }
  li {
    h3 {
      font-size: 18px;
    }
    @extend %center-items;
    padding: 0;
    border: 1px solid $gray-material;
    a {
      @include styling_wrapper_content($gray-material, null, 28px, null, 20px, 300);
      display: block;
      position: relative;
      padding: 15px 20px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: $new-green;
      &:hover,
      &.selected {
        color: $green;
        &::before {
          content: close-quote;
        }
      }
    }
  }
  .dl-menu {
    @extend %complete-dimension;
    @include transition(opacity .40s ease-in-out, left .40s cubic-bezier(0.23, 1, 0.32, 1));
  }
}
/* Tab container*/
.cd-tabs-content {
  background: $white;
  height: auto;
  padding: 0;
  li {
    display: none;
    padding: 1.4em;
    height: auto;
    overflow-y: scroll;
    &.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s;
    }
    p {
      @include styling_wrapper_content($black, null, 16px, $font-family--primary, 1.6);
      margin-bottom: 2em;
    }
  }
}
// Dashboard //
.text-height-one {
  height: 200px;
}
.container-dash {
  padding: 0;
  box-shadow: 0 6px 19px gray;
  margin-bottom: 50px;
}
.image-picture-two {
  img {
    margin-top: 0;
    padding-left: 5%;
    padding-top: 4%;
  }
}
.images-profile {
  text-align: center;
  width: 100%;
  background-color: $gray-material;
  height: 250px;
  h2 {
    color: $white;
    margin-top: 71px;
    font-weight: bold;
    font-size: 36px;
  }
}
.form-group-modified-input {
  border: none;
  background-color: $gray-material;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  margin-bottom: 5%;
  width: 100%;
}
///////////// PHOTO PROFILE //////////
.middle-image {
  @extend %no-margin;
  height: 200px;
  width: 100%;
}
.profile-photo {
  background: $black;
  .default-photo {
    background: $gray;
    background-size: cover;
    @include transition(opacity ease-in-out .2s);
  }
  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
.profile-preview {
  @extend %no-margin;
  height: 200px;
  width: 100%;
  display: none;
  .inner-filter {
    @extend %complete-dimension;
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%);
  }
  a {
    background-image: url(../images/ic_cancel_white.png);
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      padding: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
}
///// PHOTOS //////////
.photo {
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: $new-green;
  margin: 10px 0;
  &:hover {
    background-color: $green;
  }
  img {
    margin-top: 10%;
  }
  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}
.photo-preview {
  width: 100%;
  height: 150px;
  display: none;
  margin: 10px 0;
  .inner-filter {
    @extend %complete-dimension;
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%);
  }
  a {
    background-image: url(../images/ic_cancel_white.png);
    padding: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 20px;
    &:hover {
      padding: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  .video-container {
    @extend %complete-dimension;
  }
}
.margin-position {
  margin-top: -10%;
}
.p-sport {
  margin-top: 20%;
  font-size: 16px;
  a {
    color: $new-green;
    &:hover {
      color: $new-green;
    }
  }
}
.margin-gallery {
  margin-top: 5%;
}
.gallery-video {
  p {
    font-size: 16px;
  }
}
.countries-eff {
  select {
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 5%;
  }
}
.contador {
  width: 300px;
}
.background-img-profile {
  background: linear-gradient(rgba(0, 0, 0, 0), transparent 50%), linear-gradient(0deg, rgba(0, 0, 0, 0.70), transparent), url("../images/slide_2.jpg")no-repeat center;
  background-size: cover;
}
///////// Dashboard coach ////////////////////
.coach-container {
  padding-bottom: 35px;
  background-color: $white;
  .coach-row {
    width: 100%;
    padding: 0;
    border-bottom: 3px solid $new-green;
    margin: 0 auto;
    h3 {
      padding-left: 15px;
    }
    textarea {
      height: 150px;
    }
    .years {
      display: inline;
      margin-bottom: 5%;
    }
  }
}
.head-body-coach {
  font-size: 24px;
  font-weight: bold;
  padding-top: 5%;
  text-align: center;
}
//////////////// PROFILES VIEW ////////////////
.left-profile {
  overflow: auto;
  img {
    margin-left: 25%;
    width: 50%;
    margin-top: 57%;
    @extend %margin-center;
  }
  h1 {
    text-align: center;
    color: $green;
    font-size: 36px;
    font-weight: bold;
  }
}
.profile-view-container {
  p {
    font-size: 20px;
    font-weight: normal;
    &.green-title {
      font-weight: bold;
      color: $green;
    }
  }
  .head-title {
    font-weight: bold;
    padding-top: 5%;
  }
  .sub-title {
    font-size: 24px;
    font-weight: bold;
    color: $gray;
  }
  .responsive-button {
    display: block;
    margin-bottom: 5%;
    @extend %center-items;
    @extend %margin-center;
  }
  a {
    width: 148px;
    background-color: $green;
    color: $black;
    padding: 5%;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
}
.video-frame {
  width: 90%;
  margin: 20px auto;
  height: 380px;
}
////// Customer Card on Catalogues ////////////
.profile-card {
  margin-top: 10px;
  .card {
    box-shadow: 0 4px 6px gray;
    p {
      text-align: center;
      font-weight: bold;
    }
    .shield {
      width: 30px;
      position: absolute;
      top: 45%;
      left: 10%;
    }
    .catalogue-image {
      background: gray;
      width: 100%;
      height: 120px;
    }
  }
}
//////// INNER HOME //////
.container-inner-main {
  margin: 20px 0;
  .inner-block {
    overflow-x: hidden;
    background-color: $white;
    box-shadow: 0 6px 19px gray;
    margin: 20px 5px;
    overflow-y: scroll;
    @include border-radius(5px);
    &.full-box {
      height: 900px;
    }
    &.semi-full-box {
      height: 600px;
    }
    &.quarter-box {
      height: 300px;
    }
    &.half-box {
      height: 450px;
    }
    .interest {
      background-color: $green;
      width: 100%;
      padding: 6px 0;
      h2 {
        margin: 0;
        padding-left: 10px;
        font-weight: bold;
      }
    }
    .advicement {
      width: 100%;
      border-bottom: 1px solid $gray-material;
      padding-bottom: 5px;
      h3 {
        font-weight: bold;
      }
    }
  }
  .interest-team {
    margin-top: 5px;
    ul {
      padding-left: 10px;
      li {
        list-style-type: none;
        border-bottom: 1px solid $gray-material;
        height: 75px;
        .row {
          height: 100%;
          .col-xs-4 {
            height: 100%;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
        p {
          font-size: em(18px);
          &.title {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.width-profile {
  width: 100%;
}
.head-body {
  font-size: 36px;
  font-weight: bold;
  padding-top: 5%;
}
.margin-left-paragraph {
  margin-left: 21px;
}
.border-right-column {
  border-right: 1px solid;
}
.border-top-column {
  border-top: 1px solid;
}
.exclusive-club {
  clear: both;
}
.head-body-bottom {
  font-size: 36px;
  font-weight: bold;
  padding-top: 5%;
}
.body-paragraph-bottom {
  font-size: 20px;
  font-weight: normal;
}
.head-paragraph {
  font-size: 20px;
  font-weight: bold;
}
.color-textarea {
  background-color: $gray-material;
}
.border-column-botom {
  border-bottom: 1px solid;
  padding-bottom: 3%;
}
.glyphicon-direction {
  right: 5%;
  top: 13px;
  position: absolute;
}
.margin-controller {
  margin-left: 14px;
}
.text-height-two {
  height: 100px;
}
.organization-advisement {
  height: 150px;
}
.middle-organization {
  background: url("../images/banners-05.jpg")no-repeat center;
  background-size: cover;
  background-position: 50% 0;
  width: 100%;
  height: 450px;
}
.font-organization {
  text-align: center;
  font-size: 36px;
  color: $white;
  margin-top: 10%;
  font-weight: bolder;
}
.recuitrers {
  margin: 5% auto;
  width: 300px;
  height: 350px;
  background-color: $green;
  text-align: center;
  padding: 5px;
  h3 {
    font-weight: bold;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    margin-bottom: 5%;
    font-size: 15px;
  }
}
.pay-organization {
  width: 100%;
  text-align: center;
  margin: auto;
}
.prospects-image {
  background: url(../images/jugador.png) no-repeat 6px center;
  background-size: cover;
  height: 120px;
  width: 100%;
  margin-bottom: 34px;
}
.message-image {
  width: 21px;
  margin-left: 110px;
}
.prospects-description {
  height: 120px;
  h3 {
    padding-left: 15px;
  }
}
///// SEARCH //////
.green-header-title {
  background: $green;
  padding: 10px 0;
  font-weight: bold;
  margin: 20px 5px -38px;
  width: 99%;
  @include border-radius(5px);
  h2 {
    font-size: em(35px);
    margin: 0;
    padding-left: 10px;
  }
}
.filter {
  padding: 0 12px;
  p {
    font-size: 20px;
  }
}
.prospects-image-search {
  background: url(../images/jugador.png) no-repeat 6px center;
  background-size: cover;
  height: 150px;
  width: 80%;
  margin-bottom: 34px;
}
.team-photos {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}
.contact-header {
  padding-left: 18%;
  font-size: em(80px);
  color: $white;
  position: relative;
  padding-top: 300px;
  margin: 0;
}
// Card Exclusive Club
.card-exclusive {
  width: 60%;
  box-shadow: 0 1px 10px #333;
  @include border-radius(5px);
  .header {
    text-align: center;
    color: $white;
    background-color: #4D4D4D;
    padding: 2px;
  }
}
// Combines
.font-image-combines {
  background: url("../images/banners-01.jpg")no-repeat center;
  background-size: cover;
  width: 100%;
  height: 250px;
}
.combines {
  margin-left: 40px;
  margin-right: 40px;
  h2 {
    font-size: 36px;
    color: $green;
  }
  h1 {
    font-size: 48px;
    color: $green;
  }
  .head-combine {
    padding: 15px 10%;
    margin-bottom: 5%;
    background-color: $white;
  }
  .middle-combine {
    padding: 15px 10%;
    margin-bottom: 5%;
    background-color: $white;
    img {
      margin-left: 20%;
      margin-bottom: 5%;
    }
    ul {
      list-style: none;
      li {
        p {
          margin: 0;
        }
      }
    }
  }
  .cost-combine {
    padding: 15px 10%;
    background-color: $white;
    margin-bottom: 5%;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  }
  .date-combine {
    padding: 15px 10%;
    background-color: $white;
    margin-bottom: 5%;
    ul {
      list-style: none;
      li {
        color: $new-green;
      }
    }
  }
  .complete-combine {
    padding: 15px 10%;
    background-color: $white;
    margin-bottom: 5%;
  }
}
.photo-team-preview {
  background: $gray;
  width: 100%;
  height: 380px;
  background-size: cover;
}
.head-preview {
  background-color: #96B13E;
  color: $white;
  h2 {
    font-weight: bold;
  }
}
//// Blog //////]
.blog-date {
  list-style: none;
  .years {
    font-weight: bold;
  }
  .blog-months {
    list-style: none;
    padding-left: 38px;
    display: block;
  }
}
.card-blog {
  background-color: $white;
  box-shadow: 0 6px 19px gray;
  margin: 15px auto;
  .author {
    font-style: italic;
  }
  p {
    margin-bottom: 10px;
  }
}
.see-image {
  margin-left: 30%;
  width: 35%;
  margin-top: 41%;
}
// Profile Team
.container-team {
  margin-top: 0;
}
// Following card
.following-card {
  position: absolute;
  background: $green;
  padding: 4%;
}
.note-terms {
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

// New video notification
.new-video {
  padding: 2px;
  position: absolute;
  top: 0;
  left: 5%;
  background: $green;
}

.term-class {

  h1 {
    text-align: center;
    font-weight: bold;

  }
  p {
    text-align: left;
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    font-weight: bold;
  }
}


.atena {
  height: 150px;
  background:#e91e63;
  margin-left: 0;

}


.mdl-grid {
    padding: 0px;
}

.mdl-cell {
    margin: 0px;

}

.options {
  height: 100%;
  background: #fce4ec;
  text-align: center;

  a {
    display: list-item;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    margin-top: 0;
  }
}

.nav-atenea {
  background: #e91e63;
}
.drawer {
  background: #e91e63;
}


.user {
  padding-top: 59px;
    color: white;
    font-size: 25px;
}

.filters {
      margin-top: 5%;
  display: flex;
  padding-left: 4%;
  border-bottom: 10px solid gray;
border-width: thin;

  h2 {
    padding-right: 30px;
    color: gray;
    font-weight: bold;
    font-size: 32px;

  }

  select {
    margin-right: 10%;
    font-size: 23px;
    border: none;
margin-top: 36px;
background: white;
height: 26px;
  }

}

.product {
  border-bottom: 10px solid gray;
border-width: thin;

img {
  padding-top: 10px;
  padding-left: 30%;
  width: 20%;
}

a {
  text-decoration: none;
  padding-top: 10px;
  color: #e91e63;
  font-weight: bold;
  font-size: 25px;
}

}

.nameProduct {
  padding-top: 10px;
  font-weight: bold;
}

.priceProduct {
  display: -webkit-inline-box;
  padding-right: 30px;
  padding-top: 10px;
  color: #e91e63;
  font-weight: bold;

}

.availableProduct {

  color: $gray-material;
  font-weight: bold;

}

.fab {
  margin-left: 75%;
    margin-top: 15%;
}

.dialog-grid {

  h3 {
    padding-left: 27px;
    font-weight: bold;
  }
  p {
    padding-left: 27px;
    color: $gray;
    font-size: 14px;
    font-weight: bold;
  }

  img {
      width: 211px;
  }
}

.dialog-grid-employee {

  h4 {
    border-bottom: 1px solid black;
    padding-left: 27px;
    font-weight: bold;
  }
  p {
    padding-left: 27px;
    color: $gray;
    font-size: 14px;
    font-weight: bold;
  }

  img {
      width: 211px;
  }

  button {
    display: list-item;
    margin-bottom: 22px;
  }
}

.product-images {
  margin-top: 16px;
width: 142%;

  img {
    width: 52px;
  }
}

.mdl-dialog {
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
    width: 700px;
}

.product-main-image {
  margin-left: 50px;
}


.tabs-cont {
  margin-left: 18%;
}

.sucursal-owner {
  border-bottom: 1px solid black;

  img {
    width: 33%;
      margin-left: 89px;
  margin-top: 18px;
  }

  p {
    margin-top: 18px;
    font-weight: bold;
  }

  button {
    margin-top: 18px;
    padding-right: 38px;
    padding-left: 38px;
    height: 28px;
  }
}

.addrees {
  color: $gray-material;
}

.employee-owner {
  border-bottom: 1px solid black;

  img {
    width: 33%;
      margin-left: 89px;
  margin-top: 18px;
  }

  p {
    margin-top: 18px;
    font-weight: bold;
  }

  button {
    margin-top: 18px;
    padding-right: 38px;
    padding-left: 38px;
    height: 28px;
  }
}
