/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
.mdl-layout,
.mdl-layout__container,
body,
html {
  height: 100%;
  width: 100%; }

.mdl-layout,
.mdl-layout__container,
.mdl-layout__content {
  z-index: inherit !important; }

._dialog_overlay {
  z-index: inherit !important;
  position: inherit !important; }

.no-margin {
  margin: 0; }

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500; }

.phone-appear {
  display: none; }

.error-msg {
  width: 100%;
  color: #EC407A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.loading {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }
  .loading .mdl-progress {
    width: 100%; }
  .loading .loading-container {
    width: 100%;
    text-align: center;
    margin-top: 20%; }
    .loading .loading-container img {
      width: 50px;
      height: 50px; }
    .loading .loading-container p {
      font-size: 1.25em; }

.downloads {
  bottom: 0;
  z-index: 99;
  right: 5px;
  position: fixed; }

/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/
.footer {
  background-color: #AD1457;
  position: relative;
  color: #FFF; }
  .footer a:hover {
    color: #8bc34a; }
  .footer .mdl-mega-footer--top-section::after {
    border-bottom: none; }
  .footer .mdl-mega-footer--middle-section::after {
    border-bottom: none; }
  .footer .mdl-mega-footer--bottom-section {
    position: relative; }
    .footer .mdl-mega-footer--bottom-section a {
      margin-right: 2em; }
  .footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px; }

/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/
/* Header */
.android-header {
  overflow: visible;
  background-color: #E91E63; }
  .android-header .material-icons {
    color: #767777 !important; }
  .android-header .mdl-navigation__link {
    color: #FFF;
    font-weight: 400;
    font-size: 1.125em; }

/* Tab container*/
.cd-tabs-content {
  height: auto;
  padding: 0; }
  .cd-tabs-content .tab {
    display: none;
    padding: 0;
    height: auto; }
    .cd-tabs-content .tab.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s; }

.container-dash {
  margin: 0 auto;
  max-width: 1200px;
  display: inherit;
  width: 80%; }

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 16px; }

.drawer {
  border: none;
  /* iOS Safari specific workaround */
  /* END iOS Safari specific workaround */ }
  .drawer .mdl-menu__container {
    z-index: -1; }
  .drawer .navigation {
    z-index: -2;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px; }

/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.backLogin {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(233, 30, 99, 0.45) 90%), linear-gradient(0deg, rgba(156, 39, 176, 0.35), transparent), url(../images/fashion.jpg) center 90%/cover no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .backLogin .mdl-card {
    height: 300px;
    text-align: center;
    margin: 14% auto 0;
    width: 500px; }
    .backLogin .mdl-card .mdl-card__title {
      margin: 0 auto; }
      .backLogin .mdl-card .mdl-card__title h2 {
        text-align: center;
        font-size: 1.875em;
        color: #AD1457; }
    .backLogin .mdl-card button {
      width: 300px;
      background: #ff4081;
      color: white; }

/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
.product-form {
  max-width: 1000px;
  width: 100%; }
  .product-form .mdl-card {
    width: 90%; }

/**
  * Icons Partial SASS
  * This SASS file has most of the icons
  * used on the app
**/
/* These are general rules for logos */
/* Logo */
/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.options {
  height: 100%;
  background: #fce4ec;
  text-align: center; }
  .options a {
    display: list-item;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    margin-top: 0; }

.user {
  padding-top: 59px;
  color: white;
  font-size: 25px; }

.filters {
  margin-top: 5%;
  display: flex;
  padding-left: 4%;
  border-bottom: 10px solid gray;
  border-width: thin; }
  .filters h2 {
    padding-right: 30px;
    color: gray;
    font-weight: bold;
    font-size: 32px; }
  .filters select {
    margin-right: 10%;
    font-size: 23px;
    border: none;
    margin-top: 36px;
    background: white;
    height: 26px; }

.dialog-grid h3 {
  padding-left: 27px;
  font-weight: bold; }
.dialog-grid p {
  padding-left: 27px;
  color: #EEEEEE;
  font-size: 14px;
  font-weight: bold; }
.dialog-grid img {
  width: 211px; }

.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 700px; }

.dash-content-top {
  margin-top: 80px; }

.table-dash {
  width: 100%;
  margin-bottom: 100px; }
  .table-dash img {
    width: 100px; }

.fab {
  position: absolute;
  text-align: center;
  right: 0;
  top: 120px; }

.mdl-textfield__label:after {
  background-color: #ff4081;
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px; }

.mdl-textfield__label {
  color: #ff4081; }

.nav-atenea {
  background: #ff4081; }

.product-table {
  width: 100%; }
  .product-table img {
    width: 25%; }

.mdl-data-table th {
  /* padding: 0 18px 12px 18px; */
  padding-right: 19%; }
.mdl-data-table td {
  text-align: inherit; }

/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/* General */

/*# sourceMappingURL=main.css.map */
