/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
.mdl-layout,
.mdl-layout__container,
body,
html {
  height: 100%;
  width: 100%; }

.mdl-layout,
.mdl-layout__container,
.mdl-layout__content {
  z-index: inherit !important; }

._dialog_overlay {
  z-index: inherit !important;
  position: inherit !important; }

.no-margin {
  margin: 0; }

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500; }

.phone-appear {
  display: none; }

.error-msg {
  width: 100%;
  color: #EC407A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.zigzag-white:after {
  background: linear-gradient(-45deg, transparent 24px, #FFF 0), linear-gradient(45deg, transparent 24px, #FFF 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0; }

.zigzag-grey:after {
  background: linear-gradient(-45deg, transparent 24px, #EEEEEE 0), linear-gradient(45deg, transparent 24px, #EEEEEE 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0; }

.zigzag-pink:after {
  background: linear-gradient(-45deg, transparent 24px, #FA3E51 0), linear-gradient(45deg, transparent 24px, #FA3E51 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0;
  top: 140px; }

.loading {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }
  .loading .mdl-progress {
    width: 100%; }
  .loading .loading-container {
    width: 100%;
    text-align: center;
    margin-top: 20%; }
    .loading .loading-container img {
      width: 50px;
      height: 50px; }
    .loading .loading-container p {
      font-size: 1.25em; }

.downloads {
  bottom: 0;
  z-index: 99;
  right: 5px;
  position: fixed; }

/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/
.footer {
  background-color: #2B2B33;
  position: relative;
  color: #FFF; }
  .footer a:hover {
    color: #8bc34a; }
  .footer .mdl-mega-footer--top-section::after {
    border-bottom: none; }
  .footer .mdl-mega-footer--middle-section::after {
    border-bottom: none; }
  .footer .mdl-mega-footer--bottom-section {
    position: relative; }
    .footer .mdl-mega-footer--bottom-section a {
      margin-right: 2em; }
  .footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px; }

/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/
/* Header */
.android-header {
  overflow: visible;
  background-color: #FA3E51; }
  .android-header .material-icons {
    color: #767777 !important; }
  .android-header .mdl-navigation__link {
    color: #FFF;
    font-weight: 400;
    font-size: 1.125em; }

/* Tab container*/
.cd-tabs-content {
  height: auto;
  padding: 0; }
  .cd-tabs-content .tab {
    display: none;
    padding: 0;
    height: auto; }
    .cd-tabs-content .tab.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s; }

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 16px; }

.drawer {
  border: none;
  /* iOS Safari specific workaround */
  /* END iOS Safari specific workaround */ }
  .drawer .mdl-menu__container {
    z-index: -1; }
  .drawer .navigation {
    z-index: -2;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.drawer-header {
  background: #FA3E51;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px; }

/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.backLogin {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(167, 47, 63, 0.65) 90%), linear-gradient(0deg, rgba(43, 43, 51, 0.95), transparent), url("../images/fashion.jpg") center 90%/cover no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .backLogin .mdl-card {
    height: 300px;
    text-align: center;
    margin: 14% auto 0;
    width: 500px; }
    .backLogin .mdl-card .mdl-card__title {
      margin: 0 auto; }
      .backLogin .mdl-card .mdl-card__title h2 {
        text-align: center;
        font-size: 1.875em;
        color: #FA3E51; }
    .backLogin .mdl-card button {
      width: 300px;
      background: #FA3E51;
      color: white; }

.header-title-sales {
  width: 100%;
  height: 195px;
  background: #FA3E51;
  position: relative;
  z-index: 99;
  text-align: center; }
  .header-title-sales select {
    height: 25px;
    width: 336px;
    border-radius: 1px; }
  .header-title-sales input {
    width: 336px;
    margin: 0 auto;
    background-color: white; }
  .header-title-sales h2 {
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 26px; }
  .header-title-sales h3 {
    margin: 0;
    text-align: center;
    color: #2B2B33;
    padding-top: 26px; }
  .header-title-sales .filters {
    margin-left: 80px;
    display: flex; }
    .header-title-sales .filters select {
      width: 133px;
      border-radius: 1px; }
  .header-title-sales.zigzag-pink:after {
    top: 68px; }

.header-title-employee {
  width: 100%;
  height: 153px;
  background: #FA3E51;
  position: relative;
  z-index: 99;
  text-align: center; }
  .header-title-employee select {
    height: 25px;
    width: 28%;
    border-radius: 1px; }
  .header-title-employee h2 {
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 26px; }
  .header-title-employee h3 {
    margin: 0;
    text-align: center;
    color: #2B2B33;
    padding-top: 26px; }
  .header-title-employee .filters {
    margin-left: 80px;
    display: flex; }
    .header-title-employee .filters select {
      width: 133px;
      border-radius: 1px; }
  .header-title-employee.zigzag-pink:after {
    top: 75px; }

.header-title {
  width: 100%;
  height: 198px;
  background: #FA3E51;
  position: relative;
  z-index: 99;
  text-align: center; }
  .header-title select {
    height: 25px;
    width: 28%;
    border-radius: 1px; }
  .header-title h2 {
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 26px; }
  .header-title h3 {
    margin: 0;
    text-align: center;
    color: #2B2B33;
    padding-top: 26px; }
  .header-title .filters {
    margin-left: 80px;
    display: flex; }
    .header-title .filters select {
      width: 133px;
      border-radius: 1px; }
  .header-title.zigzag-pink:after {
    top: 75px; }

.product-header {
  padding-right: 194px; }

.select-branch-product {
  margin-left: 63px; }

.profile-photo {
  background: #000;
  height: 350px;
  margin: 0 auto;
  position: relative; }
  .profile-photo .default-photo {
    background: #878787;
    -webkit-transition: opacity ease-in-out 0.2s;
    -moz-transition: opacity ease-in-out 0.2s;
    -o-transition: opacity ease-in-out 0.2s;
    transition: opacity ease-in-out 0.2s;
    height: 100%; }
    .profile-photo .default-photo .photo-icon {
      width: 80px;
      height: 80px !important;
      margin: 0 auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: flex; }
  .profile-photo input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.profile-preview {
  height: 350px;
  width: 100%;
  display: none; }
  .profile-preview .inner-filter {
    background: linear-gradient(0deg, transparent, rgba(29, 17, 17, 0.6)), linear-gradient(transparent, transparent 50%);
    width: 100%;
    height: 100%; }
    .profile-preview .inner-filter .mdl-button {
      align-items: center;
      display: flex; }

/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
.product-form {
  max-width: 1000px;
  width: 100%; }
  .product-form .mdl-card {
    width: 90%;
    height: 600px;
    margin: 0 auto; }

.tabs-products .mdl-layout__header {
  background: #FA3E51;
  height: 150px;
  position: relative; }
  .tabs-products .mdl-layout__header .mdl-layout__tab-bar-container {
    position: absolute;
    bottom: 10px; }
  .tabs-products .mdl-layout__header .mdl-layout__tab-bar {
    background: #FA3E51; }
    .tabs-products .mdl-layout__header .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
      background: transparent; }

/**
  * Icons Partial SASS
  * This SASS file has most of the icons
  * used on the app
**/
/* These are general rules for logos */
/* Logo */
/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
/**
  * Wrappers Partial SASS
  * This SASS has all the wrappers used on the app
  * This file is the most important because all boxes format
  * are predefined here
**/
.options {
  height: 100%;
  background: #fce4ec;
  text-align: center; }
  .options a {
    display: list-item;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    padding-top: 50px;
    margin-top: 0; }

.user {
  padding-top: 59px;
  color: white;
  font-size: 25px; }

.dialog-grid h3 {
  padding-left: 27px;
  font-weight: bold; }
.dialog-grid p {
  padding-left: 27px;
  color: #EEEEEE;
  font-size: 14px;
  font-weight: bold; }
.dialog-grid img {
  width: 211px; }

.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 370px; }

.dash-content-top {
  margin-top: 10px; }

.table-dash {
  width: 100%;
  margin-bottom: 100px;
  table-layout: fixed; }
  .table-dash.mdl-data-table th {
    font-size: 20px;
    white-space: pre-wrap;
    text-align: center; }
  .table-dash.mdl-data-table td {
    text-align: center;
    white-space: pre-wrap; }
    .table-dash.mdl-data-table td select {
      width: 100%; }
  .table-dash img {
    width: 100px; }

.fab {
  position: absolute;
  text-align: center;
  right: 2%;
  top: 140px;
  z-index: 999; }

.mdl-textfield__label:after {
  background-color: #ff4081;
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px; }

.mdl-textfield__label {
  color: #ff4081; }

.dialog-grid-employee {
  top: 200px; }

.product-section {
  width: 110%;
  margin-right: -8px;
  margin-left: -8px; }
  .product-section.gray {
    background: #EEEEEE; }

.top-sales {
  margin-top: -24px;
  width: 100%;
  height: 195px;
  background: #AD1457;
  position: relative;
  z-index: 99;
  text-align: center; }
  .top-sales h2 {
    margin: 0;
    text-align: center;
    color: #E91E63;
    padding-top: 26px;
    margin-bottom: 5%; }
  .top-sales select {
    height: 25px;
    width: 28%;
    border-radius: 1px; }
  .top-sales button {
    color: white;
    margin-top: -67px;
    /* margin-bottom: 2px; */
    padding-bottom: -9px;
    padding-top: -7px;
    display: block;
    margin-left: 76%;
    /* margin-top: -27px; */ }

.sales-table table {
  width: 100%;
  margin-bottom: 100px;
  table-layout: fixed; }
.sales-table th {
  font-size: 20px;
  white-space: pre-wrap;
  text-align: center; }

.dialog-sales ul {
  border: 3px solid;
  border-style: dashed;
  border-left: none;
  border-right: none; }
.dialog-sales i {
  height: 49px;
  margin-right: 60px;
  border: 2px solid black; }

.card-employee {
  width: 100%; }
  .card-employee table {
    text-align: center; }

.container-dash {
  margin: 0 auto;
  max-width: 1200px;
  display: inherit;
  width: 100%; }

.avatar-sales {
  height: 49px;
  margin-right: 60px; }

.color-container {
  height: 22px;
  width: 100%; }

.ticket-button {
  color: white; }

.div-car {
  margin-top: -86px;
  margin-left: 50%; }
  .div-car button {
    margin-top: 51px; }

.right-link {
  margin-left: 65%; }

.span-employee {
  margin-top: -16px; }

/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/* General */
.button-add-sale {
  margin-right: 22%; }

.addlink {
  margin-top: 30px; }

.mdl-button--fab.mdl-button--colored {
  background: #A72F3F;
  color: white; }

.mdl-button--fab.mdl-button--colored:hover {
  background-color: #A72F3F; }

/**
  * Media queries Partial SASS
  * This SASS file has the break points
  * for each media query used on the app
  * !Important Sass extend cannot be used
  * on media queries, just include and functions
**/
/*Media Queries*/
@media (max-width: 768px) {
  .span-employee {
    margin-top: 7px; }

  .mdl-list__item--three-line {
    height: 150px; }

  .right-link {
    margin-left: 0px; }

  .mdl-layout.is-small-screen .mdl-layout--large-screen-only {
    display: flex;
    margin-left: -68px; }

  .header-title-sales select {
    margin-right: 4px; }

  .mdl-badge.mdl-badge--overlap {
    padding-left: 84px; }

  .div-car button {
    margin-left: 30px;
    margin-top: 23px; }

  .mdl-textfield__input {
    font-size: 9px;
    width: 80%; }

  .mdl-button {
    margin-left: -28px; }

  .table-dash.mdl-data-table th {
    font-size: 15px; }

  .backLogin .mdl-card {
    width: 80%; }
    .backLogin .mdl-card form {
      padding: 10px; }
      .backLogin .mdl-card form button {
        width: 90%; }

  .disappear {
    display: none; }

  .mdl-dialog {
    width: 80%; } }

/*# sourceMappingURL=main.css.map */
