/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/

/*General*/
.mdl-layout,
.mdl-layout__container,
body,
html {
  height: 100%;
  width: 100%;
}
.mdl-layout,
.mdl-layout__container,
.mdl-layout__content {
  z-index: inherit !important;
}
._dialog_overlay {
  z-index: inherit !important;
  position: inherit !important;
}


.no-margin {
  margin: 0;
}
.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.phone-appear {
  display: none;
}
.error-msg {
  width: 100%;
  color: $pink-400;
  @include border-radius(5px);
}
.loading {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
  .mdl-progress {
    width: 100%;
  }
  .loading-container {
    width: 100%;
    text-align: center;
    margin-top: 20%;
    img {
      width: 50px;
      height: 50px;
    }
    p {
      font-size: em(20px);
    }
  }
}
.downloads {
  bottom: 0;
  z-index: 99;
  right: 5px;
  position: fixed;
}
