/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
@import "base";
@import "footer";
@import "header";
@import "animations";
