/**
  * Media queries Partial SASS
  * This SASS file has the break points
  * for each media query used on the app
  * !Important Sass extend cannot be used
  * on media queries, just include and functions
**/
/*Media Queries*/
@include mq($brk-less-lg) {}
@include mq($brk-less-md) {}
@include mq($brk-less-sm) {

  .backLogin .mdl-card {

  background: red;

    width: 500px;
}

    .product-table {

      img {
        width: 25%;
      }


    }

    .mdl-data-table{
    th {
      font-size: 13px;

      }

    }

    .dissapear {
    display: none;;
  }

  .dialog-grid-employee  {

    top: initial;
  }



}
@include mq($brk-less-max-md) {
  .navbar-default {
    height: 10.25em;
  }
}
@include mq($brk-less-max-sm) {
  .special-two-col {
    float: left;
    width: 45%;
  }

}
