form(ng-controller="ProductDetailsController")
  p.addlink
    a(href="#" ng-click="generateTemplate()") + Agregar producto
  table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.table-dash.dash-content-top(id="content-details")
    thead
      tr
        th Color
        th Tamano
        th Sucursal
        th Cantidad
        th Acciones
    tbody
      tr(ng-repeat="i in getNumber(rowsNumber) track by $index")
        td
          //- color
          .mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type='color'  value="#ff0000" placeholder="Tamano..." ng-model="details[$index].color", name="color")
        td
          //- sizes
          .mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type='text' placeholder="Tamano..." ng-model="details[$index].size", name="size")
        td
          select(ng-model="details[$index].idbranch" ng-init="branch=branches[0]" ng-options="b.name for b in branches track by b.idbranch")
        td
          //- quantity
          .mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type='number' placeholder="Cantidad.." ng-model="details[$index].quantity", name="quantity")
        td
          //- Actions
          button.mdl-button.mdl-js-button(ng-click="storeDetail($index)") Guardar
